* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

html ul,
body ul {
  list-style: none;
}

html a,
body a {
  text-decoration: none;
  display: block;
}

.header {
  position: relative;
  height: 450px;
  background: url(../img/denglubg.jpg) center center;
}

.header .header-1 a {
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: white;
  background: #000e22;
}

.header .header-1 .title {
  margin-bottom: 20px;
}

.header .header-1 .title li {
  width: 25%;
}

.header .header-1 .title li a span {
  color: white;
}

.header ul {
  height: 60px;
  line-height: 60px;
  background: rgba(0, 14, 34, 0.6);
}

.header ul .first {
  margin-left: 410px;
}

.header ul li {
  width: 10%;
  text-align: center;
}

.header ul li a span {
  color: white;
}

.header .contant {
  width: 40%;
  position: absolute;
  right: 0;
  top: 190px;
  color: white;
  text-align: center;
}

.titleTap {
  z-index: 999;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.title li {
  float: left;
  text-align: center;
}

.box-form {
  overflow: hidden;
  width: 100%;
  margin: 80px auto;
  float: left;
}

.box-form .form-body {
  width: 400px;
  margin: 0 auto;
}

.box-form .form-body .form-item {
  margin-bottom: 40px;
  width: 100%;
  float: left;
  position: relative;
}

.box-form .form-body .form-item label {
  width: 100%;
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
}

.box-form .form-body .form-item input {
  padding: 0 20px;
  border: 1px solid #ddd;
  font-size: 13px;
  width: 100%;
  height: 50px;
}

.box-form .form-body .form-item .error-tip {
  display: none;
  line-height: 13px;
  color: #d80000 !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 210px;
  bottom: -20px;
}

.box-form .form-body .form-item .error-tip-email {
  display: none;
  line-height: 13px;
  color: #d80000 !important;
  position: absolute;
  left: 0;
  right: auto;
  top: 210px;
  bottom: -20px;
}

.box-form .form-body .form-item select {
  padding-left: 20px;
  color: #00081c;
  letter-spacing: .1rem;
  background-color: #fff;
  border: 0;
  outline: 1px solid #ddd;
  appearance: none;
  background-size: 11px 6px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  line-height: 13px;
  position: relative;
}

.box-form .form-body .form-item .val-vcode.disabled {
  background-color: #f4f4f4;
}

.box-form .form-body .form-item .val-vcode {
  width: 265px;
  float: left;
  margin-right: 10px;
}

.box-form .form-body .form-item .btn-sms {
  text-align: center;
  float: left;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
  width: 125px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
}

.box-form .form-body .form-item .correct-icon {
  display: none;
  text-align: center;
  float: left;
  border: 1px solid #007947;
  cursor: pointer;
  background-color: #007947;
  color: #fff;
  width: 125px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
}

.box-form .form-body .agreement {
  color: #00081c;
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
}

.box-form .form-body .agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  width: 16px;
  height: 16px;
}

.box-form .form-body .agreement span {
  position: absolute;
  top: 1px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  width: 16px;
  height: 16px;
}

.box-form .form-body .agreement .lbl-agreement {
  font-size: 14px;
  margin-left: 25px;
  cursor: pointer;
  color: #00081c;
}

.box-form .form-body .agreement .lbl-agreement em {
  font-style: normal;
  text-decoration: underline;
}

.box-form .form-body .agreement .error-tip {
  padding-top: 10px;
  color: #dd6a61;
  padding-left: 25px;
  display: none;
}

.box-form .form-body .btn-submit {
  float: left;
  background-color: #00081c;
  border: 1px solid #cdbc7a;
  color: #cdbc7a;
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
}

.box-form .form-body .go-register {
  float: right;
  padding-top: 30px;
  line-height: 13px;
  color: #00081c;
  width: 170px;
  text-align: right;
}

.box-form .form-body .go-register a {
  display: inline-block;
  text-decoration: underline;
  color: #00081c;
  cursor: pointer;
}

.footer-bottom {
  overflow: hidden;
  background: #000e22;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(89, 98, 108, 0.5);
}

.footer-bottom ul {
  line-height: 12px;
}

.footer-bottom ul li {
  padding: 0 25px;
  border-right: 1px solid #607285;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .1em;
}

.footer-bottom ul li a {
  color: #607285;
}

.footer-bottom .footer-bottom-2 {
  display: inline-block;
  padding: 30px 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .1em;
  color: #607285;
}

.footer-bottom .footer-bottom-2 div {
  margin-bottom: 10px;
  line-height: 18px;
}

.footer-bottom .footer-bottom-2 div span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.footer-bottom .footer-bottom-2 div a {
  display: inline-block;
  color: #607285;
}

.footer-bottom .footer-bottom-2 div p {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .1em;
  margin: 20px 0 0 0;
}
